body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Image{
    width: 500px;
    margin-top: 40px;
}